.Navbar{
    border:2px solid yellow;
    height:80px;width:100%;
}
.left{
    float: left;
    padding:10px;
    margin:8px;
    margin-left: 150px;
}
.right{
    list-style: none;
    float: right;
    display:flex;
    gap: 60px;
    padding:10px;
    margin:8px;
    margin-right: 200px;
}